In [19]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\kyle\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kyle\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kyle\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kyle\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.2)
Requirement already satisfied: six>=1.5 in c:\users\kyle\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\Kyle\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in c:\users\kyle\appdata\local\programs\python\python310\lib\site-packages (1.24.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\Kyle\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [20]:
import pandas as pd
import numpy as np

In [21]:
# read all data
ph = pd.read_csv('data/share-of-deaths-homicides.csv') # population/homicides
emis = pd.read_csv('data/GCB2022v27_MtCO2_flat.csv') # emissions
gdp = pd.read_csv('data/gdp.csv') # gdp
pop = pd.read_csv('data/population.csv') # population
ener = pd.read_csv('data/energy.csv') # energy

In [22]:
# Standardize the column names
ph.rename(columns={'Entity' : 'Country'}, inplace=True)
ph.rename(columns={'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)' : 'Homicide Rate'}, inplace=True)

gdp.rename(columns={'Country Name' : 'Country'}, inplace=True)

pop.rename(columns={'Country Name' : 'Country'}, inplace=True) 

emis.rename(columns={'Total' : 'Total Emissions'}, inplace=True)
emis.rename(columns={'Per Capita' : 'Emissions Per Capita'}, inplace=True)

ener.rename(columns={'Energy_consumption' : 'Energy Consumption'}, inplace=True)
ener.rename(columns={'Energy_production' : 'Energy Production'}, inplace=True)

In [23]:
# drop unwanted columns
emis = emis.drop(columns = ['Other'])
emis = emis.drop(columns=['ISO 3166-1 alpha-3'])

ph = ph.drop(columns=['Code'])

gdp = gdp.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])

ener = ener.drop(columns=['GDP', 'Population', 'Energy_intensity_per_capita', 'Energy_intensity_by_GDP', 'CO2_emission'])

In [24]:
#debucketizing gdp
melted_gdp = gdp.melt(id_vars=['Country'], var_name="Year", value_name='GDP per capita')
#melted_gdp = melted_gdp.dropna()
melted_gdp = melted_gdp.sort_values(["Country","Year"])
melted_gdp = melted_gdp.reset_index(drop=True)
melted_gdp['Year'] = melted_gdp['Year'].astype(int)
melted_gdp['GDP per capita'] = melted_gdp['GDP per capita'].replace(np.nan,0)

#debucketizing population
melted_pop = pop.melt(id_vars=['Country'], var_name="Year", value_name='Population')
melted_pop = melted_pop.sort_values(["Country","Year"])
melted_pop = melted_pop.reset_index(drop=True)
melted_pop['Year'] = melted_pop['Year'].astype(int)
melted_pop['Population'] = melted_pop['Population'].replace(np.nan,0)

In [25]:
# drop rows with year < 1990 and year > 2019
emis = emis[emis['Year'] >= 1990]
emis = emis[emis['Year'] <= 2019]

gdp = melted_gdp[melted_gdp['Year'] >= 1990]
gdp = melted_gdp[melted_gdp['Year'] <= 2019]

pop = melted_pop[melted_pop['Year'] >= 1990]
pop = melted_pop[melted_pop['Year'] <= 2019]

ener = ener[ener['Year'] >= 1990]
ener = ener[ener['Year'] <= 2019]

In [26]:
# remove NaN values
emis.isnull().sum()

c = emis.groupby('Country')

c.apply(lambda x: x.isnull().sum())

,Country,Year,Total Emissions,Coal,Oil,Gas,Cement,Flaring,Emissions Per Capita
Country,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0
Albania,0,0,0,0,0,0,0,0,0
Algeria,0,0,0,0,0,0,0,0,0
Andorra,0,0,0,0,0,0,0,0,0
Angola,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
Viet Nam,0,0,0,0,0,0,0,0,0
Wallis and Futuna Islands,0,0,0,0,0,0,11,0,0
Yemen,0,0,0,0,0,0,0,0,0
Zambia,0,0,0,0,0,0,0,0,0
Zimbabwe,0,0,0,0,0,0,0,0,0

In [27]:
# set year column as index
emis.set_index('Year', inplace=True)

# fill missing values with previous and forward 5-year averages
emis.fillna(emis.rolling(window=11, min_periods=1).mean().shift(1).fillna(method='bfill'), inplace=True)

# reset index
emis.reset_index(inplace=True)

emis.isnull().sum()

C:\Users\Kyle\AppData\Local\Temp\ipykernel_24752\1088784760.py:5: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Country'], dtype='object')
  emis.fillna(emis.rolling(window=11, min_periods=1).mean().shift(1).fillna(method='bfill'), inplace=True)

Year                    0
Country                 0
Total Emissions         0
Coal                    0
Oil                     0
Gas                     0
Cement                  0
Flaring                 0
Emissions Per Capita    0
dtype: int64

In [28]:
# merging tables
merged = pd.merge(ph, emis, how='inner', on=['Country', 'Year'])
merged = pd.merge(merged, gdp, how="left", on=['Country','Year'])
merged = pd.merge(merged, pop, how='left', on=['Country','Year'])

In [29]:
# checking for duplicates
duplicates = merged.duplicated(subset=['Country', 'Year'], keep=False)

# print resulting dataframe
# if there are no duplicates, the dataframe will be empty
print(merged[duplicates])

Empty DataFrame
Columns: [Country, Year, Homicide Rate, Total Emissions, Coal, Oil, Gas, Cement, Flaring, Emissions Per Capita, GDP per capita, Population]
Index: []

In [30]:
merged.describe()

,Year,Homicide Rate,Total Emissions,Coal,Oil,Gas,Cement,Flaring,Emissions Per Capita,GDP per capita,Population
count,5610.000000,5610.000000,5610.000000,5610.000000,5610.000000,5610.000000,5610.000000,5610.000000,5610.000000,4950.000000,4.950000e+03
mean,2004.500000,1.095742,120.147593,50.909146,39.571093,22.193680,5.057668,1.462085,4.545368,10250.963517,3.328641e+07
std,8.656213,1.678670,543.209645,381.784589,105.091306,68.811459,37.316321,4.788171,6.223573,16763.887997,1.362386e+08
min,1990.000000,0.040000,0.000000,0.000000,0.003664,0.000000,0.000000,0.000000,0.000000,0.000000,9.182000e+03
25%,1997.000000,0.260000,1.233389,0.000000,0.974387,0.000000,0.000097,0.000000,0.565035,801.488133,1.990322e+06
50%,2004.500000,0.560000,9.157214,0.124576,4.934715,0.230832,0.400382,0.000000,2.376270,3040.517926,6.868105e+06
75%,2012.000000,1.140000,58.731783,8.010227,28.476452,12.577810,1.877339,0.347518,6.495875,11253.254178,1.927174e+07
max,2019.000000,17.740000,10740.996069,7543.157408,1559.728160,825.415088,826.876048,62.654678,66.817851,123678.702100,1.407745e+09

In [31]:
#Generating measures
merged['Homicide per capita'] = (merged['Homicide Rate'] / merged['Population']) * 100000
merged['Homicide per emissions'] = merged['Homicide Rate'] / merged['Total Emissions']
merged['GDP'] = merged['GDP per capita'] * merged['Population']

In [32]:
merged[:25]

,Country,Year,Homicide Rate,Total Emissions,Coal,Oil,Gas,Cement,Flaring,Emissions Per Capita,GDP per capita,Population,Homicide per capita,Homicide per emissions
0,Afghanistan,1990,0.84,2.024326,0.278464,1.271408,0.403040,0.045766,0.025648,0.189281,0.000000,10694796.0,0.007854,0.414953
1,Afghanistan,1991,1.04,1.914301,0.249627,1.204085,0.389125,0.045766,0.025697,0.178155,0.000000,10745167.0,0.009679,0.543279
2,Afghanistan,1992,1.10,1.482054,0.021984,1.029584,0.362736,0.045766,0.021984,0.122916,0.000000,12057433.0,0.009123,0.742213
3,Afghanistan,1993,1.15,1.486943,0.018320,1.047904,0.351744,0.046991,0.021984,0.106182,0.000000,14003760.0,0.008212,0.773399
4,Afghanistan,1994,1.18,1.453829,0.014693,1.032171,0.337935,0.046991,0.022039,0.094065,0.000000,15455555.0,0.007635,0.811650
5,Afghanistan,1995,1.20,1.417327,0.014656,1.011264,0.322432,0.046991,0.021984,0.086323,0.000000,16418912.0,0.007309,0.846664
6,Afghanistan,1996,1.33,1.370104,0.007328,0.985616,0.307776,0.047400,0.021984,0.080092,0.000000,17106595.0,0.007775,0.970729
7,Afghanistan,1997,1.17,1.304152,0.003664,0.948976,0.282128,0.047400,0.021984,0.073313,0.000000,17788819.0,0.006577,0.897135
8,Afghanistan,1998,1.13,1.278504,0.003664,0.941648,0.263808,0.047400,0.021984,0.069134,0.000000,18493132.0,0.006110,0.883845
9,Afghanistan,1999,1.13,1.091640,0.003664,0.776768,0.241824,0.047400,0.021984,0.056671,0.000000,19262847.0,0.005866,1.035140
10,Afghanistan,2000,1.12,1.047128,0.003664,0.787760,0.223504,0.010216,0.021984,0.053581,0.000000,19542982.0,0.005731,1.069592
11,Afghanistan,2001,1.15,1.069098,0.069616,0.762112,0.208848,0.006538,0.021984,0.054300,0.000000,19688632.0,0.005841,1.075673
12,Afghanistan,2002,1.27,1.340995,0.055109,0.727438,0.547416,0.011033,0.000000,0.063856,183.532775,21000256.0,0.006048,0.947058
13,Afghanistan,2003,1.37,1.559602,0.091813,0.991575,0.466408,0.009807,0.000000,0.068871,200.462567,22645130.0,0.006050,0.878429
14,Afghanistan,2004,1.40,1.237247,0.091600,0.908672,0.227168,0.009807,0.000000,0.052529,221.657604,23553551.0,0.005944,1.131544
15,Afghanistan,2005,1.42,1.889507,0.106256,1.447280,0.329760,0.006211,0.000000,0.077403,255.055120,24411191.0,0.005817,0.751519
16,Afghanistan,2006,1.47,2.159318,0.160944,1.656993,0.329204,0.012177,0.000000,0.084869,274.000487,25442944.0,0.005778,0.680771
17,Afghanistan,2007,1.50,2.799909,0.747456,1.733072,0.307776,0.011605,0.000000,0.108091,375.078128,25903301.0,0.005791,0.535732
18,Afghanistan,2008,1.57,4.254477,1.078145,2.864051,0.297040,0.015242,0.000000,0.160989,387.849174,26427199.0,0.005941,0.369023
19,Afghanistan,2009,1.64,6.391888,1.514100,4.593624,0.271291,0.012872,0.000000,0.233406,443.845150,27385307.0,0.005989,0.256575
20,Afghanistan,2010,1.75,8.364803,2.246032,5.833088,0.271136,0.014547,0.000000,0.296733,554.595200,28189672.0,0.006208,0.209210
21,Afghanistan,2011,1.77,11.838316,4.180624,7.335328,0.307776,0.014588,0.000000,0.404740,621.912311,29249157.0,0.006051,0.149515
22,Afghanistan,2012,1.79,10.035314,3.125392,6.573216,0.307776,0.028930,0.000000,0.329389,663.141053,30466479.0,0.005875,0.178370
23,Afghanistan,2013,1.85,9.250510,3.326912,5.591264,0.296784,0.035550,0.000000,0.293283,651.987862,31541209.0,0.005865,0.199989
24,Afghanistan,2014,1.82,9.170309,3.705783,5.164638,0.271244,0.028644,0.000000,0.280299,628.146804,32716210.0,0.005563,0.198467

In [33]:
# replacing any missing values / infinities with 0
merged = merged.replace(np.nan, 0)
merged = merged.fillna(0)
merged['Homicide per emissions'].replace([np.inf, -np.inf], 0, inplace=True)

In [34]:
merged.sum()

Country                   AfghanistanAfghanistanAfghanistanAfghanistanAf...
Year                                                               11245245
Homicide Rate                                                       6147.11
Total Emissions                                                674027.99492
Coal                                                          285600.306574
Oil                                                           221993.830495
Gas                                                           124506.542015
Cement                                                           28373.5179
Flaring                                                         8202.295118
Emissions Per Capita                                           25499.513081
GDP per capita                                              50742269.408442
Population                                                   164767741468.0
Homicide per capita                                             1310.349168
Homicide per emissions                                         10841.291049
dtype: object

In [35]:
merged.dtypes

Country                    object
Year                        int64
Homicide Rate             float64
Total Emissions           float64
Coal                      float64
Oil                       float64
Gas                       float64
Cement                    float64
Flaring                   float64
Emissions Per Capita      float64
GDP per capita            float64
Population                float64
Homicide per capita       float64
Homicide per emissions    float64
dtype: object

In [36]:
merged.to_csv("~/Desktop/datascience/phase2/CSI4142-Project/out.csv", index=False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\Kyle\Desktop\datascience\phase2\CSI4142-Project'